{
    "$schema": "./projects.schema.json",
    "generations": [
        {
            "ProjectName": "Urban Surveillance Zone Alpha",
            "Target": {
                "name": "San Francisco Target",
                "longitude": -122.4194,
                "latitude": 37.7749
            },
            "Sweeper": {
                "radiusStep": 10,
                "maxRadius": 500,
                "angleStepMOA": 300,
                "format": "SIMPLE"
            }
        }
    ]
}